Web/ReactJsNodeJs/node_modules/
C:\ProjetosLuiz\Projects\Python\ProjetoIptvManterLinkUsuarioAtualizado\pythonProject\build
C:\ProjetosLuiz\Projects\Python\ProjetoIptvManterLinkUsuarioAtualizado\pythonProject\dist