/*Selector {

}*/

body {
	background-image: url(C:/Projects/Web/Imagens/imagem_de_fundo.jpg);
	background-size: cover;
}

h2, p {
	color: #AA3939;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}

p {
	color: pink;
}

li {
	list-style: none;
	display: inline-block;
}