alter table AVALIACAO_PRODUTOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table CATEGORIAS_PRODUTOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table CONTAS_PAGAR
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table CONTAS_RECEBER
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table CUPONS_DESCONTOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table ENDERECOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table FORMAS_PAGAMENTOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table IMAGENS_PRODUTOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table MARCAS_PRODUTOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table NOTAS_FISCAIS_COMPRAS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table NOTAS_FISCAIS_COMPRAS_ITENS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table NOTAS_FISCAIS_VENDAS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table PESSOAS_FISICAS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table PESSOAS_JURIDICAS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table PRODUTOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table STATUS_RASTREIOS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table VENDAS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);

alter table VENDAS_ITENS
add constraint EMPRESA_FK foreign key (EMPRESA_ID)
references PESSOAS_JURIDICAS (ID);
